@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');



html  {
  font-size: 12px;
}

@media(min-width: 700px) {
  html {
      font-size: 16px;
  }
}
h1,h2,h3,h4,h5,h6 {
font-family: 'Roboto', sans-serif;

}

p,a,li,button {
font-family: 'Open Sans', sans-serif;
}

button {
  text-transform: uppercase;
}

.main-header {
  width: 100%;
  background: #000;
  padding: 20px 20px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  }

  .main-header ul {
    width: 145px;
    display: flex;
    justify-content: space-around;

}

.main-header ul li:hover {
  color: lightblue;
  cursor: pointer;
}

.main-wrapper{
background: #FFF;
padding: 35px;
}

.main-section {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin-bottom: 32px;
}

.left-section {
display: flex;
flex-flow: column;
width: 47%;
margin-right: 8.5px;
}

.right-section {
  display: flex;
  flex-flow: column;
  width: 47%;
  margin-left: 8.5px;
}

.right-section-box {
  background: lightgray;
  height: 130px;
  width: 100%;
  color: white;
  margin-bottom: 16px;
}

.main-footer {
background: #000;
width: 100%;
display: flex;
justify-content: flex-end;
height: 52px;
  }
